{% extends 'substitute/base.html' %}

{% block content %}
<section id="account_info">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1 id="product_title">Produits favoris de {{ user.username}}</h1>
      </div>
    </div>
    <div class="row">
      	{% for favorite in favorites_list %}
        	<div class="col-lg-5 text-center mx-auto">
        		<p><a href="{% url 'substitute:product_sheet' product_id=favorite.id%}">{{favorite.name}}</a></p>
        		<img src="{{ favorite.image_small_url }}" alt="{{ favorite.name }}">
        	</div>  
        {% endfor %}
	</div>
   </div>
</section>

{% endblock %}