{% extends 'substitute/base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto text-center">
      <h2 class="section-heading">Mentions légales</h2>
      <p class="mb-5">
      	<p>La société <strong>PUR BEURRE</strong> a pour activité principale la conception d'applications liées à l'alimentation.</p>
      	<p>PUR BEURRE est une société par actions simplifiée au capital de 12.000 euros, dont le siège social est situé 4, rue de la Croissant, 75000 Paris et immaticulé au Registre du Commerce et des Sociétés de Paris sous le numéro 123 456 789</p>
      	<address>4 rue du Croissant - 75000 PARIS - FRANCE</address>
      	<p><em>Téléphone</em> : +332.12.34.56.78</p>
      	<p><em>Courrier électronique</em> : contact@purbeurre.com</p>
      	<p><em>N° de TVA intracommunautaire</em> : FR76 123 456 789</p>
      	<p><em>Hébergeur du Site Internet</em> : <adress>SALESFORCE, The Landmark @ 1 Market St., Suite 300 San Francisco, CA, 94105</adress></p>
      	<p><em>Conception</em> : Ronan LE HAY</p>
      </p>
    </div>  
 </div>
</div>

{% endblock %}