{% extends 'substitute/base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto text-center">
      <h1 class="section-heading">Se connecter</h1>

        {% if error %}
        <p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
        {% endif %}

        {% if user.is_authenticated %}
        Vous êtes connecté, {{ user.username }} !
        {% else %}
        <div class="form_div">
          <form method="post" action="{% url 'substitute:login' %}">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="Se connecter" />
          </form>
        </div>
        {% endif %}
    </div>  
 </div>
</div>

{% endblock %}

