{% extends 'substitute/base.html' %}

{% block content %}
<section id="account_info">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1>{{ product_to_display.name }}</h1>
        <p><strong>Cagtegories :</strong> {{ product_to_display.categories }}</p>
        <p><strong>Score : </strong> {{ product_to_display.score }}</p>
        <img src="{{ product_to_display.image_url }}" alt="Photo du produit : {{ product_to_display.name }}"/>
        <p><a href="https://fr.openfoodfacts.org/produit/{{product_to_display.code}}/">Voir la fiche complète sur OpenFoodFacts</a></p>
      </div>  
   </div>
  </div>
</section>

{% endblock %}