{% extends 'substitute/base.html' %}

{% block content %}
<section id="account_info">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1 id="product_title">{{ product_to_display.name }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        {% load static %}
        <img src="{% static score_image %}" alt="{{product_to_display.score}}">
        <img src="{{ product_to_display.image_url }}" alt="Photo du produit : {{ product_to_display.name }}"/>  
      </div>
      <div class="col-lg-8">
        <table class="table table-striped table-bordered">
          <tr>
            <th>Nutriment</th>
            <th>Valeur</th>
          </tr>
          {% for key, value in product_to_display.nutriments.items %}
            {% if '100' in key %}
            <tr>
              <td>{{ key }}</td>
              <td>{{ value }}</td>
            </tr>
            {% endif %}
          {% endfor %}
        </table>
      </div>
    </div>

    <div class="row">
      <div class="mx-auto">
        <p><a href="https://fr.openfoodfacts.org/produit/{{product_to_display.code}}/">Voir la fiche complète sur OpenFoodFacts</a></p>  
      </div>
    </div>
  </div>
</section>

{% endblock %}
