{% extends 'substitute/base.html' %}

{% block content %}

<section id="signin">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1>Inscription</h1>
        {% if error %}
          <p><strong>{{ error }}</strong></p>
        {% endif %}
        {% if confirmation_message %}
          <p><strong>{{ confirmation_message }}</strong></p>
        {% load static %}
        <p> Vous allez être redirigé vers la page d'acceuil dans <span id='counter'>5</span> seconde(s).</p>
        <p>Si ce n'est pas le cas, cliquer <a href="{% url 'substitute:index' %}">ici</a></p>
        <script type="text/javascript" src="{% static 'substitute/js/counter.js' %}"></script>
        {% else %}
        <div class="form_div">
          <form method="post" action="{% url 'substitute:sign_in' %}">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="Envoyer" />
          </form>
        </div>
        {% endif %}
      </div>  
   </div>
  </div>
</section>
{% endblock %}

