{% extends 'substitute/base.html' %}

{% block content %}

<section id="account_info">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1 id="product_title"><a href="{% url 'substitute:product_sheet' product_id=product_selected.id %}">{{ product_selected.name }}</a></h1>
        {% load static %}
        <img src="{% static score_image %}" alt="{{product_to_display.score}}">
        <img src="{{ product_selected.image_url }}" alt="Photo du produit : {{ product_selected.name }}"/>
      </div>  
      <h2>Vous pourriez remplacer ce produit par le(s) suivant(s) : </h2>
   </div>
   {% if no_substitute %}
   <div class="row">
    <div class="col-lg-8 mx-auto text-center">
     <p>{{ no_substitute }}</p>
    </div>
   </div>
   {% else %}
    <div class="row">
      {% for substitute in list_substitute %}
      <div class="col-lg-4 text-center">
        <h3><a href="{% url 'substitute:product_sheet' product_id=substitute.id %}">{{ substitute.name }}</a></h3>
        <p class="text-uppercase">Nutri-Score : <strong>{{substitute.score}}</strong></p>
        <img src="{{ substitute.image_small_url }}" alt="{{ substitute.name }}">
        {% if user.is_authenticated %}
        <div class="save-result" id="{{substitute.id}}"></div>
        <form method="post" action="{% url 'substitute:add_favorite' product_id=substitute.id %}">
            {% csrf_token %}
            <input type="checkbox" name="check" value="{{substitute.id}}">
            <input type="submit" value="Sauvegarder">
        </form>
        {% endif %}
      </div>        
      {% endfor %}  
    </div>
  {% endif %}
  </div>
</section>

  
{% endblock %}

{% block javascript %}
  {% load static %}
  <script type="text/javascript" src="{% static 'substitute/js/checkbox.js' %}"></script>

{% endblock %}